name: Tests
on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2

      - name: Setup Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 #v5.5.0
        with:
          go-version: "1.24.4"

      - name: Install dependencies
        run: go get .

      - name: Run unit tests
        run: go test -v ./...
        if: ${{ !cancelled() }}

      - name: Run formatter
        run: test -z $(gofmt -l .)
        if: ${{ !cancelled() }}

      - name: Run Hadolint
        uses: hadolint/hadolint-action@54c9adbab1582c2ef04b2016b760714a4bfde3cf #v3.1.0
        if: ${{ !cancelled() }}
        with:
          dockerfile: Dockerfile

      - name: golangci-lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 #v8.0.0
        if: ${{ !cancelled() }}
        with:
          args: --config=.golangci.yml --issues-exit-code=0
          version: v2.1.6
          working-directory: src
