name: Tests
on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24.1"

      - name: Install dependencies
        run: go get .

      - name: Run unit tests
        run: go test -v ./...
        if: ${{ !cancelled() }}

      - name: Run formatter
        run: test -z $(gofmt -l .)
        if: ${{ !cancelled() }}

      - name: Run Hadolint
        uses: hadolint/hadolint-action@v3.1.0
        if: ${{ !cancelled() }}
        with:
          dockerfile: Dockerfile

      - name: staticcheck
        uses: dominikh/staticcheck-action@v1
        if: ${{ !cancelled() }}
        with:
          version: v0.6.0
          install-go: false
          working-directory: src

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        if: ${{ !cancelled() }}
        with:
          version: v1.64.6
          working-directory: src
